@media (min-width: 1170px) and (max-width: 1300px) {
    .slide__text__container{
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 16px;
    }
} 
@media (min-width: 993px) and (max-width: 1169px) {
    .header__menu{
        font-size: 12px;
        flex: 0 1 500px;
    }
    .header-menu__item {
        padding: 36px 16px;
    }
    .top img{
        height: 769px;
    }
    .top__title {
        font-size: 48px;
    }
    .top__subtitle {
        font-size: 18px;
    }
    
    .top__button{
        margin-top: 92px;
        margin-bottom: 126px;
    }
    .button {
        height: 80px;
        width: 314px;
    
    }
    .work-box {
        flex: 0 1 256px;
    } 
    .work-box__text-title{
        font-size: 18px;
        height: 40px;
    }
    .work-box__text-subtitle{
        font-size: 14px;
    }
    .slide__text__container{
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 16px;
    }
    .slide__text {
        font-size: 24px;
    }
    .switch__item {
        height: 10px;
        width: 10px;
        margin: 24px 25px;
    }
}
@media (min-width: 721px) and (max-width: 992px) {
    .header__menu{
        flex: 0 1 400px;
    }
    .header-menu__item {
        padding: 36px 10px;
        flex-shrink: 1;
    } 
    .top__title {
        margin-top: 60px;
    }
    .top__subtitle {
        margin-top: 24px;
    }
    .top__button{
        margin-top: 40px;
    }
    .card__title{
        font-size: 18px;
    }
    .card__subtitle{
        font-size: 14px;
    }
    .id__name{
        font-size: 18px;  
    }
    .id__post, .id__text{
        font-size: 14px; 
    }
    .sotial-network-link {
        min-height: 33px;
        width: 33px;
        padding: 5.5px;
        margin: 0 5px; 
    }
    .work-box__text-title{
        font-size: 18px;
        height: 25px;
    }
    .work-box__text-subtitle{
        font-size: 14px;
    }
    .slide__text__container{
        margin: 16px;
        height: 100%;
    }
    .slide__text {
        font-size: 20px;
    }
    .slide__text-sign{
        font-size: 13px
    }
    .switch__item {
        height: 10px;
        width: 10x;
        margin: 24px 25px;
    } 

}
@media (max-width: 720px) {
     .header__menu{
        display: none;
    }
    .header__container{
        border-bottom: none;
    }
    .header__burger{
        display: block; 
        height: 100px;
        padding: 20px 0;
    } 
    .header__burger img{
        height: 56px;
        width: 56px;
    }
    .header__logo img{
        height: 16px;
    }
    .top{
        height: 474px;
    }
    .top img{
        height: 574px;
    }
    .top__title {
        margin-top: 10px;
        font-size: 36px;
    }
    .top__subtitle {
        margin-top: 24px;
        font-size: 14px;
    }
    .button{
        width: 280px;
        height: 60px;
        padding: 18px;
    }
    .top__button{
        margin-top: 40px;
        margin-bottom: 20px;
    } 
    .center{
        padding: 16px;
    }
    .center__container {
        display: flex; 
        flex-flow: column nowrap;
        align-items: center;
    }
    .card{
        max-width: 90%; 
    }
    .card__title{
        font-size: 18px;
    }
    .card__subtitle{
        font-size: 14px;
    }
    .card__icon {
        margin: 41px 20px 20px 20px;
    }
    .workswall {
        padding-top: 35px;;
    }
     .workswall__container {
        flex-wrap: wrap;
    }
    .team__container{
        flex-direction: column;
    }
    .id { 
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
    .sotial-network-link {
        margin-bottom: 49px;
    
    }
    .work-box__text-title{
        font-size: 18px;
        height: 25px;
    }
    .work-box__text-subtitle{
        font-size: 14px;

    }
    .slide{
         margin-top: 160px;
        max-height: 600px;
        flex-direction:column;
        align-items: flex-start;
    }
    .slide__img{
        flex: 0 1 212px;

    }
    .slide__img img{
        object-fit: scale-down;
    }
    .slide__text__container{
        flex: 0 1 538px;
        margin: 0 auto;
        padding: 16px;
    }
    .slide__text{
        min-height: 326px;
        font-size: 24px;
    }
    .slide__text-sign{
        font-size: 12px;    
    }
    .switch__item {
        height: 10px;
        width: 10px;
        margin: 23px 20px;
    }
    .donawload__title{
        font-size: 18px;
        line-height: 21px;
    }
    .donawload__subtitle{
        height: 100%;
        font-size: 13px;
        line-height: 15px;
    }
    .fcontent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fcontent__block{
        flex: 0 0 0px;
        margin-top: 34px;
        margin-bottom: 34px;
    }
    .footer__bottom{
        font-size: 14px;
        line-height: 16px;
    }

}

@media (max-width: 490px) {
    .work-box__text-title{
        font-size: 13px;
        height: 25px;
    }
    .work-box__text-subtitle{
        font-size: 10px;
        height: 16px;
    }

}
