
*{
    box-sizing: border-box; 
}
body{
    background-color: chartreuse;
}
.container {
    max-width: 1200px;
    display: flex;
    padding: 0 15px;
    background-color: cyan;
}
.img__container {
    flex: 0 1 380px;
    background-color: brown;
    border: 1px solid cornflowerblue;
    position: relative;
}
.img__container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.text__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 0, 0, 0.4)
}
.text__block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 380px; 
}