html,body{
	font-family: 'Raleway';
    font-style: normal;
	color: #FFFFFF;
	font-weight: 400;
}
._container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
a:visited{ 
    color: #FFFFFF;
}
.header {
 height: 101px;
}
.header__container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BABBC5;
}

.header__logo {
    display: flex;
    flex-flow: row nowarp;
    flex: 0 0 184px;

}
.logo {
    margin-right: 30px;
}

.header__burger{
    display: none;
}
.header__menu{
    flex: 0 0 670px;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-end;
    height: 100px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;

}


.header-menu__item {
    flex: 0 0 140px;
    height: 97px;
    padding: 36px;
}
.header-menu__item:hover{
    border-bottom: 3px solid #BABBC5;
}
.header-menu__item:active {
    border-bottom: 3px solid #E71414;
    color: #E71414;
}

.main{

}
.top {
    position: relative;
    height: 647px;
    /* компенсация надвига на хедед 747+101 */

}
.top img{
    position: absolute;
    left: 0;
    top: -101px;
    width: 100%;
    height: 748px;
    object-fit: cover;
    z-index: -3;
}
.top__container {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 16px;

}

.top__title {
    margin-top: 130px;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    overflow: auto;
}
.top__subtitle {
    margin-top: 24px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.top__button{
    margin-top: 82px;
    margin-bottom: 120px;
}
.button {
    height: 80px;
    width: 370px;
    padding: 28px;
    background-color: #FF4343;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;

}
.button:hover{
    background: #E71414;
}
.button:active{
    background: #FF4343;
    box-shadow: 4px 4px 30px hsl(0, 100%, 63%);
}
.center {
    min-height: 950px;
    padding: 116px 16px;
}
.center__container {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-evenly;

}

.center__card {
    max-width: 100%;
    /* max-height: 358px; */
}
.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 27%; 
    margin-left: 15px;
    margin-right: 15px;
}
.card__icon {
    margin: 41px 0;
}

.card__icon img{
    height: 100px;
    width: 100px;
    object-fit: scale-down;
}

.card__title {
    margin: 20px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
    overflow: auto;
}
.card__subtitle {
  
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6C7279;
    overflow: auto;
}
.workswall {
    margin: 0 auto;
    max-width: 1560px;
    padding: 0 20px; 

}

.workswall__container {
    max-width: 1560px;
    display: flex;
    padding: 0 15px;
}
.work-box {
    flex: 0 1 378px;
    position: relative;
}
.work-box img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    z-index: -1;
}
.work-box__text-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.work-box__text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 380px; 
    opacity: 0;
}
.work-box__text-title {
    height: 60px; 
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    overflow: auto;
}
.work-box__text-subtitle {
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    overflow: auto;
}

.work-box:hover .work-box__text-container{
    background: rgba(255, 67, 67, 0.8);
    border: 0.5px solid #FFFFFF;
}
.work-box:hover .work-box__text{
    opacity: 1;
}
.work-box:active .work-box__text-container{
    background: rgba(185, 12, 12, 0.8);
    border: 0.5px solid #FFFFFF;

}

.team {

}
.team__container {
    margin: 114px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.team__id {
}
.id {
    flex: 0 1 270px;
    margin: 0 15px;
}
.id img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;

}
.id__name {
    min-height: 30px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #2D3033;
    overflow: auto;
}
.id__post {
    min-height: 21px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FF4343;
    overflow: auto;
}
.id__text {
    min-height: 168px;
    margin-top: 18px;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #6C7279;
    overflow: auto;
}
.id__link {
    margin-top: 38px;
    width: 128px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}
.sotial-network-link {
    align-self: flex-end;
    min-height: 39px;
    width: 39px;
    border: 1px solid #C6CBCD;
    padding: 8.5px;

}
.sotial-network-link img {
    height: 20px;
    width: 20px;
}
.presentation {
}

.presentation__container {
}
.prepresentation__slide {
}
.slide {
    max-height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #5C3249;
}
.slide__img {


}
.slide__img img{
    width: 100%;
    height: 100%;
}
.slide__text__container{
    margin-top: 116px;
    margin-left: 129px;
    margin-right: 16px;
}
.slide__text {
    height: 258px;
    max-width: 471px;
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-transform: capitalize;
    overflow: auto;
}
.slide__text-sign{
    height: 28px;
    margin-top: 28px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    overflow: auto;
}
.prepresentation__switch {
}
.switch {
    display: flex;
    justify-content:center
}
.switch__item {
    height: 14px;
    width: 14px;
    border: 1px solid #7E5D6F;
    margin: 31px 25px;
    border-radius: 50%;
}
.switch__item-turned {
    background-color:#7E5D6F;
}
.prepresentation__donawload {
}
.donawload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 81px 15px 114px;
    text-align:center
}
.donawload__title {
    height: 70px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    overflow: auto;

}
.donawload__subtitle {
    margin-top: 5px;
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    overflow: auto;

}
.donawload__button {
    margin-top: 50px;
    overflow: hidden;
}
.button {
}

.footer {
    background: #353C65;
    text-align:center
}
.footer__top {

}
._container {
}
.fcontent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 250px;

}
.fcontent__block {
    max-width: 370px;
    flex: 0 1 370px;
    margin: 71px 15px 108px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fcontent__title {
    display: flex;
    align-items: center;
    height: 21px;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    overflow: auto;


}
.fcontent__subtitle {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    text-transform: capitalize;
    overflow: auto;
}
.sotial-network-footer{
    display: flex;
    justify-content: space-between;
    width: 169px;

}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90px;
    padding:24px 0;
    background: #2C3154;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #808080;
    overflow: auto;
}
.footer__bottom span{
 color: #FFFFFF;
}




