._container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
a:visited{ 
    color: #FFFFFF;
}
.header {
 height: 101px;
}
.header__container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BABBC5;
}

.header__logo {
    display: flex;
    flex-flow: row nowarp;
    flex: 0 0 184px;

}
.logo {
    margin-right: 30px;
}

.header__burger{
    display: none;
}
.header__menu{
    flex: 0 0 670px;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-end;
    height: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;

}


.header-menu__item {
    flex: 0 0 140px;
    height: 97px;
    padding: 36px;
}
.header-menu__item:hover{
    border-bottom: 3px solid #BABBC5;
}
.header-menu__item:active {
    border-bottom: 3px solid #E71414;
    color: #E71414;
}

.main{

}
.top {
    position: relative;
    height: 647px;

}
.top img{
    position: absolute;
    left: 0;
    top: -101px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}
.top__container {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-style: normal;
    color: #FFFFFF;
    align-items: center;
    text-align: center;

}

.top__title {
    margin-top: 130px;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    overflow: auto;
}
.top__subtitle {
    margin-top: 24px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.top__button{
    margin-top: 82px;
    margin-bottom: 120px;
}
.button {
    height: 80px;
    width: 370px;
    padding: 28px;
    background-color: #FF4343;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;

}
.button:hover{
    background: #E71414;
}
.button:active{
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
}
.center {
}
.center__container {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.center__card {
    max-width: 100%;
    max-height: 717px;
    margin: 116px 170px;
}
.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 27%; 
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Raleway';
    font-style: normal;
}
.card__icon {
    margin: 41px 0;
}

.card__icon img{
    height: 100px;
    width: 100px;
    object-fit: scale-down;
}

.card__title {
    margin: 20px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
    overflow: auto;
}
.card__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6C7279;
    overflow: auto;
}
.workswall {
    margin: 0 auto;
    max-width: 1560px;
    padding: 20px; 

}

.workswall__container {
    max-width: 1560px;
    display: flex;
    padding: 0 15px;
}
.work-box {
    flex: 0 1 378px;
    position: relative;
}
.work-box img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    z-index: -1;
}
.work-box__text-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.work-box__text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 380px; 
    opacity: 0;
    font-family: 'Raleway';
    font-style: normal;
}
.work-box__text-title {
    height: 60px; 
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.work-box__text-subtitle {
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.work-box:hover .work-box__text-container{
    background: rgba(255, 67, 67, 0.8);
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
}
.work-box:hover .work-box__text{
    opacity: 1;
}
.work-box:active .work-box__text-container{
    background: rgba(185, 12, 12, 0.8);
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;

}

.team {
    padding: 114px 0;
}
.team__container {
 display: flex;
 justify-content: space-around;
}

.team__id {
}
.id {
    flex: 0 1 270px;
    margin: 15px;
    font-family: 'Raleway';
    font-style: normal;

}
.id img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;

}
.id__name {
    height: 30px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #2D3033;
}
.id__post {
    height: 21px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FF4343;
}
.id__text {
    min-height: 170px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #6C7279;
}
.id__link {
    margin-top: 38px;
    width: 128px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}
.sotial-network-link {
    height: 39px;
    width: 39px;
    border: 1px solid #C6CBCD;
    padding: 8.5px;

}
.sotial-network-link img {
    height: 20px;
    width: 20px;
}






